/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

:root {
    --bg-color: #1b1b1b;
    --spc-border: #7a643e;
    --spc-col: #f8c56e;
    --unread-book: #ffffff;
    --read-book: #ffcb71;
    --text-col: #000000;
    --card-hover: #f3f4f6;
}

body {
    height: 100vh;
    display: grid;
    align-items: center;
    background-color: var(--bg-color);
    width: 100%;
}

.page {
    /* color: #ffffff; */
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    background-color: var(--bg-color);
}

.page > div {
    background-color: var(--unread-book);
    border-radius: 50px;
    height: 250px;
    display: grid;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0;
    transition: transform 400ms;
}

.special {
    border: 3px solid var(--spc-border) !important;
    color: var(--spc-col);
    background-color: var(--bg-color) !important;
}

.title-heading,
.bname,
.add-book {
    font-size: 28px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.book > .content div:not(.bname) {
    font-size: 18px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.title .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.title-heading {
    align-self: center;
    margin-top: 20%;
}

.title .content .title-img {
    height: 80px;
    width: 80px;
}

.title .content .title-img svg {
    fill: var(--spc-col);
}

.page > .book:hover {
    background-color: var(--card-hover);
    transform: translateY(-40px);
    box-shadow: 0px 12px 1px var(--read-book);
}

.add-book {
    box-shadow: 0 0 0;
    transition: transform 400ms;
}

.add-book:hover {
    background-color: black !important;
    transform: translateY(-40px);
    box-shadow: 0px 12px 1px var(--spc-border);
}
